In [59]:
import pandas as pd
from datetime import datetime
import csv
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [65]:
#loading the data
def load_data(file_name):
    df = pd.read_csv(file_name)
    df.head()

    x = []
    y = []
    z = []
    v = []

    for i in df:
        if(i[0]=='x'):
            x.append(df[i])
        
        if(i[0]=='y'):
            y.append(df[i])
        
        if(i[0] == 'z'):
            z.append(df[i])
            
        if(i[0]=='v'):
            v.append(df[i])

    print(x)
    print(y)
    print(z)
    #transform the pandas series into python list
    return [x,y,z,v]

In [66]:
# Plotting
def scatter_3d(x, y, z):
    fig = plt.figure()
    ax = fig.add_subplot(111, projection='3d')
    ax.scatter(x,y, z)
    plt.show()

In [67]:
#plotting x and y
def scatter_2d(x,y):
    plt.scatter(x, y)
    plt.xlabel('X-axis')
    plt.ylabel('Y-axis')
    plt.title('2D Plot Example')
    plt.show()

In [68]:
#running:
x = load_data(file_name)[0]
y = load_data(file_name)[1]
z = load_data(file_name)[2]

#!initial 
file_name = 'init_demo.csv'
scatter_2d(x,y)
scatter_3d(x,y,z)

# #!transformed
# file_name = 'final_demo.csv'
# scatter_2d(file_name)
# scatter_3d(file_name)

[0    0.60132
Name: x1, dtype: float64, 0    0.627795
Name: x2, dtype: float64, 0    0.642652
Name: x3, dtype: float64, 0    0.657174
Name: x4, dtype: float64, 0    0.575772
Name: x5, dtype: float64, 0    0.558048
Name: x6, dtype: float64, 0    0.542707
Name: x7, dtype: float64, 0    0.682693
Name: x8, dtype: float64, 0    0.523394
Name: x9, dtype: float64, 0    0.631294
Name: x10, dtype: float64, 0    0.574355
Name: x11, dtype: float64, 0    0.805595
Name: x12, dtype: float64, 0    0.404444
Name: x13, dtype: float64, 0    0.85469
Name: x14, dtype: float64, 0    0.335209
Name: x15, dtype: float64, 0    0.836888
Name: x16, dtype: float64, 0    0.345838
Name: x17, dtype: float64, 0    0.860218
Name: x18, dtype: float64, 0    0.321326
Name: x19, dtype: float64, 0    0.823123
Name: x20, dtype: float64, 0    0.356094
Name: x21, dtype: float64, 0    0.804565
Name: x22, dtype: float64, 0    0.376291
Name: x23, dtype: float64, 0    0.698238
Name: x24, dtype: float64, 0    0.451681
Name: x25, dtype: float64, 0    0.678811
Name: x26, dtype: float64, 0    0.453926
Name: x27, dtype: float64, 0    0.666112
Name: x28, dtype: float64, 0    0.449551
Name: x29, dtype: float64, 0    0.671463
Name: x30, dtype: float64, 0    0.448535
Name: x31, dtype: float64, 0    0.615137
Name: x32, dtype: float64, 0    0.474743
Name: x33, dtype: float64, 0    0
Name: x34, dtype: int64, 0    0
Name: x35, dtype: int64, 0    0
Name: x36, dtype: int64, 0    0
Name: x37, dtype: int64, 0    0
Name: x38, dtype: int64, 0    0
Name: x39, dtype: int64, 0    0
Name: x40, dtype: int64, 0    0
Name: x41, dtype: int64, 0    0
Name: x42, dtype: int64, 0    0
Name: x43, dtype: int64, 0    0
Name: x44, dtype: int64, 0    0
Name: x45, dtype: int64, 0    0
Name: x46, dtype: int64, 0    0
Name: x47, dtype: int64, 0    0
Name: x48, dtype: int64, 0    0
Name: x49, dtype: int64, 0    0
Name: x50, dtype: int64, 0    0
Name: x51, dtype: int64, 0    0
Name: x52, dtype: int64, 0    0
Name: x53, dtype: int64, 0    0
Name: x54, dtype: int64, 0    0
Name: x55, dtype: int64, 0    0
Name: x56, dtype: int64, 0    0
Name: x57, dtype: int64, 0    0
Name: x58, dtype: int64, 0    0
Name: x59, dtype: int64, 0    0
Name: x60, dtype: int64, 0    0
Name: x61, dtype: int64, 0    0
Name: x62, dtype: int64, 0    0
Name: x63, dtype: int64, 0    0
Name: x64, dtype: int64, 0    0
Name: x65, dtype: int64, 0    0
Name: x66, dtype: int64, 0    0
Name: x67, dtype: int64, 0    0
Name: x68, dtype: int64, 0    0
Name: x69, dtype: int64, 0    0
Name: x70, dtype: int64, 0    0
Name: x71, dtype: int64, 0    0
Name: x72, dtype: int64, 0    0
Name: x73, dtype: int64, 0    0
Name: x74, dtype: int64, 0    0
Name: x75, dtype: int64]
[0    0.806644
Name: y1, dtype: float64, 0    0.737637
Name: y2, dtype: float64, 0    0.734491
Name: y3, dtype: float64, 0    0.731441
Name: y4, dtype: float64, 0    0.742778
Name: y5, dtype: float64, 0    0.741723
Name: y6, dtype: float64, 0    0.740381
Name: y7, dtype: float64, 0    0.734894
Name: y8, dtype: float64, 0    0.744356
Name: y9, dtype: float64, 0    0.851932
Name: y10, dtype: float64, 0    0.860781
Name: y11, dtype: float64, 0    0.964208
Name: y12, dtype: float64, 0    0.957053
Name: y13, dtype: float64, 0    1.278425
Name: y14, dtype: float64, 0    1.243046
Name: y15, dtype: float64, 0    1.542631
Name: y16, dtype: float64, 0    1.520204
Name: y17, dtype: float64, 0    1.629447
Name: y18, dtype: float64, 0    1.616632
Name: y19, dtype: float64, 0    1.621363
Name: y20, dtype: float64, 0    1.609657
Name: y21, dtype: float64, 0    1.585791
Name: y22, dtype: float64, 0    1.571812
Name: y23, dtype: float64, 0    1.53366
Name: y24, dtype: float64, 0    1.533096
Name: y25, dtype: float64, 0    2.026971
Name: y26, dtype: float64, 0    2.022702
Name: y27, dtype: float64, 0    2.480308
Name: y28, dtype: float64, 0    2.476603
Name: y29, dtype: float64, 0    2.550046
Name: y30, dtype: float64, 0    2.553385
Name: y31, dtype: float64, 0    2.644233
Name: y32, dtype: float64, 0    2.619144
Name: y33, dtype: float64, 0    0
Name: y34, dtype: int64, 0    0
Name: y35, dtype: int64, 0    0
Name: y36, dtype: int64, 0    0
Name: y37, dtype: int64, 0    0
Name: y38, dtype: int64, 0    0
Name: y39, dtype: int64, 0    0
Name: y40, dtype: int64, 0    0
Name: y41, dtype: int64, 0    0
Name: y42, dtype: int64, 0    0
Name: y43, dtype: int64, 0    0
Name: y44, dtype: int64, 0    0
Name: y45, dtype: int64, 0    0
Name: y46, dtype: int64, 0    0
Name: y47, dtype: int64, 0    0
Name: y48, dtype: int64, 0    0
Name: y49, dtype: int64, 0    0
Name: y50, dtype: int64, 0    0
Name: y51, dtype: int64, 0    0
Name: y52, dtype: int64, 0    0
Name: y53, dtype: int64, 0    0
Name: y54, dtype: int64, 0    0
Name: y55, dtype: int64, 0    0
Name: y56, dtype: int64, 0    0
Name: y57, dtype: int64, 0    0
Name: y58, dtype: int64, 0    0
Name: y59, dtype: int64, 0    0
Name: y60, dtype: int64, 0    0
Name: y61, dtype: int64, 0    0
Name: y62, dtype: int64, 0    0
Name: y63, dtype: int64, 0    0
Name: y64, dtype: int64, 0    0
Name: y65, dtype: int64, 0    0
Name: y66, dtype: int64, 0    0
Name: y67, dtype: int64, 0    0
Name: y68, dtype: int64, 0    0
Name: y69, dtype: int64, 0    0
Name: y70, dtype: int64, 0    0
Name: y71, dtype: int64, 0    0
Name: y72, dtype: int64, 0    0
Name: y73, dtype: int64, 0    0
Name: y74, dtype: int64, 0    0
Name: y75, dtype: int64]
[0   -0.715919
Name: z1, dtype: float64, 0   -0.71041
Name: z2, dtype: float64, 0   -0.710179
Name: z3, dtype: float64, 0   -0.710276
Name: z4, dtype: float64, 0   -0.709258
Name: z5, dtype: float64, 0   -0.708325
Name: z6, dtype: float64, 0   -0.708533
Name: z7, dtype: float64, 0   -0.476468
Name: z8, dtype: float64, 0   -0.456232
Name: z9, dtype: float64, 0   -0.608697
Name: z10, dtype: float64, 0   -0.603321
Name: z11, dtype: float64, 0   -0.274318
Name: z12, dtype: float64, 0   -0.279623
Name: z13, dtype: float64, 0   -0.185304
Name: z14, dtype: float64, 0   -0.142897
Name: z15, dtype: float64, 0   -0.333918
Name: z16, dtype: float64, 0   -0.34251
Name: z17, dtype: float64, 0   -0.400187
Name: z18, dtype: float64, 0   -0.411175
Name: z19, dtype: float64, 0   -0.450106
Name: z20, dtype: float64, 0   -0.48109
Name: z21, dtype: float64, 0   -0.367026
Name: z22, dtype: float64, 0   -0.382932
Name: z23, dtype: float64, 0   -0.024074
Name: z24, dtype: float64, 0    0.028659
Name: z25, dtype: float64, 0   -0.113583
Name: z26, dtype: float64, 0   -0.08846
Name: z27, dtype: float64, 0    0.207427
Name: z28, dtype: float64, 0    0.085501
Name: z29, dtype: float64, 0    0.216335
Name: z30, dtype: float64, 0    0.088738
Name: z31, dtype: float64, 0   -0.223102
Name: z32, dtype: float64, 0   -0.388004
Name: z33, dtype: float64, 0    0
Name: z34, dtype: int64, 0    0
Name: z35, dtype: int64, 0    0
Name: z36, dtype: int64, 0    0
Name: z37, dtype: int64, 0    0
Name: z38, dtype: int64, 0    0
Name: z39, dtype: int64, 0    0
Name: z40, dtype: int64, 0    0
Name: z41, dtype: int64, 0    0
Name: z42, dtype: int64, 0    0
Name: z43, dtype: int64, 0    0
Name: z44, dtype: int64, 0    0
Name: z45, dtype: int64, 0    0
Name: z46, dtype: int64, 0    0
Name: z47, dtype: int64, 0    0
Name: z48, dtype: int64, 0    0
Name: z49, dtype: int64, 0    0
Name: z50, dtype: int64, 0    0
Name: z51, dtype: int64, 0    0
Name: z52, dtype: int64, 0    0
Name: z53, dtype: int64, 0    0
Name: z54, dtype: int64, 0    0
Name: z55, dtype: int64, 0    0
Name: z56, dtype: int64, 0    0
Name: z57, dtype: int64, 0    0
Name: z58, dtype: int64, 0    0
Name: z59, dtype: int64, 0    0
Name: z60, dtype: int64, 0    0
Name: z61, dtype: int64, 0    0
Name: z62, dtype: int64, 0    0
Name: z63, dtype: int64, 0    0
Name: z64, dtype: int64, 0    0
Name: z65, dtype: int64, 0    0
Name: z66, dtype: int64, 0    0
Name: z67, dtype: int64, 0    0
Name: z68, dtype: int64, 0    0
Name: z69, dtype: int64, 0    0
Name: z70, dtype: int64, 0    0
Name: z71, dtype: int64, 0    0
Name: z72, dtype: int64, 0    0
Name: z73, dtype: int64, 0    0
Name: z74, dtype: int64, 0    0
Name: z75, dtype: int64]

AttributeError: 'list' object has no attribute 'to_list'